
{% extends "home/base.html" %}
{% load staticfiles %}
{% block content %}


	<a href="#0" class="cd-top"><i class='fa fa-arrow-up'></i></a>

    <!-- Header -->


    <!-- Portfolio Grid Section -->
    <section  id="guide">
        <div class="container">
            <div class="row">
    <header>

                <div class="col-lg-12 text-center">
                    <!-- <img class="img-responsive" src="{% static 'img/fav.png' %}" width="150" alt=""> -->
                    <div class="intro-text" style="margin-top:-50px;">
                        <span class="name" style="color:black;">Welcome to our Role-Playgrounds!</span>
                    </div>
                </div>
    </header>
                <hr class="star-primary">
            </div>
            <div class="row">

	        		<div class="col-md-4 portfolio-item">
	        			<div class="inst">
		        			<!--<i class="icon-home"></i>-->
							<img src="http://placehold.it/200x200" width="200" height="200" /><br/>

		        			<p style="padding-top:10px;"><strong>Imagine your Character</strong></p>

		        		</div>
	        		</div>
	        		<div class="col-md-4 portfolio-item">
	        			<div class="inst">
		        			<img src="http://placehold.it/200x200" width="200" height="200" /><br/>
		        			<p style="padding-top:10px;"><strong>Bring them to Life</strong></p>

		        		</div>
	        		</div>
	        		<div class="col-md-4 portfolio-item">
	        			<div class="inst">
		        			<img src="http://placehold.it/200x200" width="200" height="200" /><br/>
		        			<p style="padding-top:10px;"><strong>Go off on an Adventure!</strong></p>

		        		</div>
	        		</div>
</div>

        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>RPGrounds, a website to build, archive and role play characters. Explore worlds you've built in a community as eager as you are, or explore preexisting worlds media and other users created.</p>
                </div>
                <div class="col-lg-4">
                    <p>The goal we have set for this website is something big. However, the progress is slow due to the fact that only one person is working on the code.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="recent">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Recent</h2>
                    <hr class="star-primary">
                </div>
            </div>
        </div>
    </section>
{% endblock %}