{% extends "home/base.html" %}
{% load staticfiles %}
{% block custom_css %}<link rel=stylesheet type=text/css href="{% static 'css/main.css' %}" >{% endblock %}
{% block content %}

<section>


{% for obj in news %}






<div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">{{ obj.title }}</h3>
        </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="row">
                <div class="col-md-12 col-sm-12">

                    <div class="comment-list styled clearfix">
                        <ol>
                            <li class="comment">
                                <div class="comment-body">
                                    <div class="comment-arrow"></div>
                                    <div class="comment-avatar">
                                        <div class="avatar"><img src="{% static 'img/default_image.png' %}" alt="" /></div>
                                    </div>
                                    <div class="comment-text">
                                        <div class="comment-author clearfix">
                                            <a href="#" class="link-author">{{ obj.author }}</a>
                                        </div>
                                        <div class="comment-entry">
                                            {{ obj.text }}
                                        </div>
                                    </div>
                                    <div class="box-footer clearfix">
                                  <div class="pull-right">6/26/2016</div>
                                </div>
                                </div>
                            </li>
                        </ol>
                    </div>

                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.box-body -->
          </div>

{% endfor %}


<center><div class="pagination">
    <span class="step-links">
        {% if news.has_previous %}
            <a class="btn btn-primary" href="?page={{ news.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ news.number }} of {{ news.paginator.num_pages }}
        </span>

        {% if news.has_next %}
            <a class="btn btn-primary" href="?page={{ news.next_page_number }}">next</a>
        {% endif %}
    </span>
</div></center>


</section>
{% endblock %}